Post Index
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %>
    <%= post.content %>
    <%= post.updated_at.to_date %>
    <%= button_to "X", post_path(post.id), method: :delete %>
    <%= link_to "Edit", edit_post_path(post.id) %>

  </li>
  <% end %>
</ul>

  <%= link_to "New Post", new_user_post_path %>
